@import 'utils/mixins',
		'utils/helpers',
		'base/reset',
		'base/grid',
		'base/typography',
		'partials/header',
		'partials/footer',
		'partials/work';

@font-face {
    font-family: 'basis-grotesque-regular-pro';
    src: url('../fonts/basis-grotesque-regular-pro.eot');
    src: url('../fonts/basis-grotesque-regular-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basis-grotesque-regular-pro.woff') format('woff'),
         url('../fonts/basis-grotesque-regular-pro.woff2') format('woff2'),
         url('../fonts/basis-grotesque-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #2b2b2b;
	font: {
		family: 'basis-grotesque-regular-pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		size: 20px;
	}
	line-height: 1.5;

	@media(min-width: 768px) {
		font-size: 24px;
	}

	@media(min-width: 1024px) {
		font-size: 28px;
	}

	// @media(min-width: 1200px) {
	// 	font-size: 32px;
	// }

	&.dark {
		background: #2b2b2b;
		color: #e4e4e4;

		.footer {
			background: rgba(255, 255, 255, 0.05);
		}

		a,a:visited { color: #00fdd2; }
	}
}

a {
	color: #0000ee;
	&:visited { color: #0000ee;}
}

.wrap {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 32px;
	padding-right: 32px;

	@media(min-width: 667px) {
		width: 80%;
		padding-left: 0;
		padding-right: 0;
	}

	@media(min-width: 1300px) {
		min-width: 1200px;
	}
}

.insulate {
	padding-top: 10%;
	padding-bottom: 10%;

	@media(min-width: 1600px) {
		padding-top: 160px;
		padding-bottom: 160px;
	}

	& + .insulate {
		padding-top: 0;
	}
}

// -------------------------------------------------- //
// Hero
// -------------------------------------------------- //
.hero {
	.wrap {
		padding: 0;

		@media (min-width: 667px) {
			display: flex;
			align-items: center;
		}
	}

	&__content {
		padding: 64px 24px;

		@media (min-width: 667px) {
			position: relative;
			width: 50%;
			flex: 0 0 auto;
		}

		h1 {
			margin: 0;
		}

		a {
			display: block;
			margin-top: 1em;
		}
	}

	img {
		display: block;

		@media (min-width: 667px) {
			width: 65%;
			margin-left: -15%;
			flex: 0 0 auto;
		}
	}
}

// -------------------------------------------------- //
// Tag
// -------------------------------------------------- //
.tag {
	display: inline-flex;
	align-items: center;
	color: #767676;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1;

	@media(min-width: 768px) {
		font-size: 11px;
		letter-spacing: 4px;
	}

	&:before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		margin-right: 12px;
		border-radius: 100%;
		background: #ff2f63;
	}

	a {
		text-decoration: none;
	}
}