{{ define "main" }}
	<div class="wrap insulate">
		{{ .Content }}
	</div>
	<div class="listing portfolio insulate">
		<div class="wrap">
			<div class="group fx-justify">
				{{ range .Pages }}
					<article class="grid md:g-3 project project--{{ .File.TranslationBaseName }}">
						<figure>
							{{ if gt (len .Content) 0 }}<a href="{{ .URL }}">{{ end }}
							<img src="img/projects/{{ .File.TranslationBaseName }}.jpg" alt="Image of {{ .Title }} project" title="Image of {{ .Title }} project" />
							{{ if .Params.hoverImg }}<img src="img/projects/{{ .File.TranslationBaseName }}-hover.jpg" alt="" />{{ end }}
							{{ if gt (len .Content) 0 }}</a>{{ end }}
						</figure>
						<div class="project__details">
							<h4>
								{{ if gt (len .Content) 0 }}<a href="{{ .URL }}">{{ end }}
								{{ .Title }}
								{{ if gt (len .Content) 0 }}
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="7" y1="17" x2="17" y2="7" /><polyline points="7 7 17 7 17 17" /></svg>
									</a>
								{{ end }}
							</h4>
							{{ if .Params.categories }}
								<span class="tag">{{ .Params.categories }}</span>
							{{ end }}
						</div>
					</article>
				{{ end }}
			</div>
		</div>
	</div>
{{ end }}